.body {
    margin: 0px;
}

#sm1 {
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    animation-name: sm1a;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    margin: 20px;
}

@keyframes sm1a {
    0% {background-color: blueviolet;}
    25% {background-color: mediumaquamarine;}
    50% {background-color: mediumseagreen;}
    75% {background-color: mediumpurple;}
    100% {background-color: blueviolet;}
}